.div-table{ display: table; }
.div-table-row { display: table-row;}
.div-table-heading { display: table-header-group;}
.div-table-cell, .div-table-head {
  display: table-cell;
  min-width: 40px;
  max-width: 250px;
  padding: 10px 25px;
}
.div-table-heading { display: table-header-group;}
.div-table-footer { display: table-footer-group;}
.div-table-body { display: table-row-group;}
.no-data{
  text-align:center;
  background-color: lightgrey;
  padding: 10px 0px 10px 0px;
}
